.password-box{padding: 10px;}
.password-box input{width: 0;height: 0;overflow: hidden;
    border:none}
.ul ul{border: 1px solid #DDD;border-radius: 4px;text-align: center;background-color: #fff;}
.password-box ul li{width: 16.43%;height: 44px;line-height: 44px;margin-left: -1px;}
.password-box ul li i{display:inline-block;width: 10px;height: 10px;background-color: #000;border-radius: 10px;}