.rightwrap {
    width: 94%;
    margin: auto;
    padding-top: 30px;
    color: #000000;
    font-weight: 500;
}
.content_z_right h2{
    color:#FF4200;

}

.registerForm input[type='text'],
.registerForm input[type='password'] {
    text-indent: 1em;
    outline: none;
    width: 270px;
    vertical-align: middle;
}

.registerForm > div {
    margin-top: 20px;
}

.registerForm .text {
    display: inline-block;
    float: left;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    color: #676565;
    font-size: 15px;
}
.submit {
    text-align: center;
    background-color: #FF4200;
    font-weight: bold;
    width: 272px;
    height: 32px;
    color: white;
    font-size: 18px;
    line-height: 32px;
}
