*{ margin:0; padding:0; list-style:none;}
a{ text-decoration:none;}
a:hover{ text-decoration:none;}
.tcdPageCode{padding: 15px 20px;text-align: left;color: #ccc;text-align:center;display: inline-block;float: right;}
.tcdPageCode a{display: inline-block;color: #FF4200;display: inline-block;height: 30px;	line-height: 30px;	padding: 0 14px;border: 1px solid #ddd;	margin: 0 2px;border-radius: 4px;vertical-align: middle;}
.tcdPageCode a:hover{text-decoration: none;border: 1px solid #FF4200;}
.tcdPageCode span.current{display: inline-block;height: 30px;line-height: 30px;padding: 0 15px;margin: 0 2px;color: #fff;background-color: #FF4200;	border: 1px solid #FF4200;border-radius: 4px;vertical-align: middle;}
.tcdPageCode span.disabled{	display: inline-block;height: 30px;line-height: 30px;padding: 0 15px;margin: 0 2px;	color: #bfbfbf;background: #f2f2f2;border: 1px solid #bfbfbf;border-radius: 4px;vertical-align: middle;}